/*
.*

!.gitignore

!source
source/*

!source/kernel
source/kernel/*
!source/kernel/*.gpr
!source/kernel/*.ld
!source/kernel/ada
!source/kernel/ada/*.adb
!source/kernel/ada_specifications
!source/kernel/ada_specifications/*.ads
!source/kernel/ada_runtime
!source/kernel/ada_runtime/*.ad?
!source/kernel/assembly
!source/kernel/assembly/*
!source/kernel/c
!source/kernel/c/*.[ch]
!source/kernel/spark_runtime
!source/kernel/spark_runtime/*.ad?

!source/bootloader
!source/bootloader/**

!source/operating_system
!source/operating_system/**

!tools
tools/*
!tools/*.sh
!tools/fonts
!tools/fonts/*
!tools/ovmf-x64
!tools/ovmf-x64/*
!tools/bochsrc.txt

!Makefile
!*.md
