/*
.*

!.gitignore

!src
src/*
!src/havk
!src/havk/*.adb
!src/specs
!src/specs/*.ads
!src/runtime
!src/runtime/*.ad?
!src/uefi
!src/uefi/*
!src/nasm
!src/nasm/*
!src/*.gpr
!src/*.ld

!ext
ext/*
!ext/*.sh
!ext/fonts
!ext/fonts/*
!ext/bochsrc.txt

!Makefile
!*.md
